.navtion {
	width: 100%;
	height: 44px;
	background-color: #171615;
}

.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.statusbar {
	width: 100%;
	background-color: #171615;
}

.leftview {
	position: absolute;
	left: 0;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.leftview image{
	width: 24px;
	height: 24px;
}
.rightview {
	position: absolute;
	right: 0;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rightview image{
	width: 24px;
	height: 24px;
}
.centerview {
	position: absolute;
	width: 100%;
	height: 44px;
	align-items: center;
	justify-content: center;
}

.centerview text {
	color: #FFFFFF;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.centerview image {
	margin-left: 5px;
	margin-top: 5px;
	width: 15px;
	height: 15px;
}

.pop {
	position: absolute;
	width: 110px;
	height: 44px;
	line-height: 44px;
	top: 40px;
	z-index: 998;
	margin-left: calc(50% - 60px);
	align-items: center;
	justify-content: center;
}
.popback{
	position: absolute;
	width: 110px;
	height: 44px;
	z-index: 997;
}
.popxiuxi{
	margin-top: 5px;
	width: 20px;
	height: 20px;
	z-index: 997;
}
.poptext{
	margin-top: 9px;
	z-index: 998;
	height: 34px;
	line-height: 34px;
	color: #FFFFFF;
	font-size: 16px;
	margin-left: 10px;
}